*

!.gitignore
!README.md

!.config

!.config/alacritty
!.config/alacritty/*

!.config/gtk-3.0
!.config/gtk-3.0/*

!.config/i3
!.config/i3/*

!.config/i3status
!.config/i3status/*

!.config/polybar
!.config/polybar/*

!.config/rofi
!.config/rofi/*

!.config/spicetify
!.config/spicetify/config.ini
!.config/spicetify/Extensions
!.config/spicetify/Extensions/*
!.config/spicetify/Themes
!.config/spicetify/Themes/*
!.config/spicetify/Themes/*/*

!.local
!.local/share

!.local/share/fonts
!.local/share/fonts/scientifica
!.local/share/fonts/scientifica/*
!.local/share/fonts/scientifica/*/*

!.mozilla
!.mozilla/firefox
!.mozilla/firefox/.default-release
!.mozilla/firefox/.default-release/chrome
!.mozilla/firefox/.default-release/chrome/*

!.thunderbird
!.thunderbird/.default-release
!.thunderbird/.default-release/chrome
!.thunderbird/.default-release/chrome/*
