@define-color base00 #141414;
@define-color base01 #1c1c1c;
@define-color base02 #222423;
@define-color base03 #363a3c;
@define-color base04 #414140;
@define-color base05 #a8a397;
@define-color base06 #d8d3c7;
@define-color base07 #d8d3c7;
@define-color base08 #5c201b;
@define-color base09 #70341a;
@define-color base0A #845d2b;
@define-color base0B #5f5a2f;
@define-color base0C #2c3632;
@define-color base0D #253847;
@define-color base0E #52536b;
@define-color base0F #4a2d1b;

@define-color foreground @base05;
@define-color background @base00;
@define-color black #1d2021;
@define-color red @base08;
@define-color green @base0B;
@define-color yellow @base0A;
@define-color blue @base0D;
@define-color magenta @base0E;
@define-color cyan @base0C;
@define-color white @base07;

@define-color background-bright @base01;
@define-color background-dim #0f0f0f;
@define-color foreground-dim @base04;


@define-color theme_fg_color @foreground-dim;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @background-dim;
@define-color theme_selected_bg_color @base02;
@define-color theme_selected_fg_color @yellow;

@define-color fg_color @foreground-dim;
@define-color text_color @foreground;
@define-color bg_color @background;
@define-color base_color @background-dim;
@define-color selected_bg_color @base02;
@define-color selected_fg_color @yellow;

@define-color insensitive_bg_color #1f282a;
@define-color insensitive_fg_color alpha(rgba(204, 215, 212, 0.45), 0.5);
@define-color insensitive_base_color #222b2e;

@define-color theme_unfocused_fg_color #ccd7d4;
@define-color theme_unfocused_text_color #abb9b6;
@define-color theme_unfocused_bg_color #1b2224;
@define-color theme_unfocused_base_color #222b2e;

@define-color borders rgba(0, 0, 0, 0.25);
@define-color unfocused_borders rgba(0, 0, 0, 0.25);
@define-color warning_color #F27835;
@define-color error_color #FC4138;
@define-color success_color #2eb398;
@define-color placeholder_text_color #A8A8A8;
@define-color link_color #6ddac4;
@define-color content_view_bg #222b2e;

@define-color wm_title alpha(#c6cdcb, 0.8);
@define-color wm_unfocused_title alpha(#c6cdcb, 0.5);
@define-color wm_bg #141a1b;
@define-color wm_bg_unfocused #1f282a;
@define-color wm_highlight #1b2224;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_button_close_bg #cc575d;
@define-color wm_button_close_hover_bg #d7787d;
@define-color wm_button_close_active_bg #be3841;
@define-color wm_icon_close_bg #141a1b;
@define-color wm_button_hover_bg #2a3538;
@define-color wm_button_active_bg #2eb398;
@define-color wm_button_hover_border #0c0f10;
@define-color wm_icon_bg #c6cdcb;
@define-color wm_icon_unfocused_bg #454f4c;
@define-color wm_icon_hover_bg #c6cdcb;
@define-color wm_icon_active_bg #ffffff;

@define-color budgie_tasklist_indicator_color #2eb398;
@define-color budgie_tasklist_indicator_color_active #2eb398;
@define-color budgie_tasklist_indicator_color_active_window #257063;
@define-color budgie_tasklist_indicator_color_attention #F27835;


/* Components */

.background {
    background-color: @background;
    color: @foreground;
}

separator {
    background-color: shade(@background-bright, 1.3);
}

.frame {
    background-color: @background-bright;
}

.sourceview {
    background-color: @background;
}

/* Lists */

.view {
    background-color: @background-bright;
}

.view:hover {
    background-color: shade(@background-bright,1.3);
}

.view:selected {
    background-color: @cyan;
}

/* Highlighted text */
selection,
text:selected {
    background-color: #222423;
    color: @green;
}


/* Progress bar */

trough {
  background-color: @background-dim;
  min-height: 5px;
}

progress,
highlight {
  background-color: @cyan;
  min-height: 5px;
}

slider {
    border: 3px solid white;
    background-color: white;
}

value {
    margin-left: 8px;
}


/* Menus */

/* Top-level menu bars */
menubar {
  background-color: background;
}

menubar > menuitem {
    padding: 5px 10px;
}

menubar > menuitem:hover {
  background-color: shade(@background, 1.3);
}

/* Dropdown-style menus */
menu {
  background-color: @background-bright;
}

menu > menuitem {
  padding: 5px 10px;
}

menu > menuitem:hover {
  background-color: shade(@background-bright, 1.3);
}

menuitem image {
  -gtk-icon-transform: scale(0.8);
}

menuitem:disabled {
    color: @foreground-dim;
}


/* Toolbars */

toolbar {
  padding: 5px;
}

toolbar toolbutton > button,
toolbar toolitem > button {
  padding: 3px;
}

toolbar toolbutton > button:hover,
toolbar toolitem > button:hover {
  background-color: shade(@background, 1.3);
}

toolbar toolbutton > button:disabled,
toolbar toolitem > button:disabled {
  color: @foreground;
  opacity: 0.2;
}


/* Button icons */
toolbar toolbutton > button image,
toolbar toolitem > button image {
  -gtk-icon-transform: scale(0.8);
}


/* Text fields */

entry,
combobox button.combo {
  background-color: @background-dim;
  background-image: none;
  border: 1px solid @background-dim;
  border-radius: 0;
  box-shadow: none;
  color: @foreground;
  min-height: 0;
  padding: 5px 8px;
  text-shadow: none;
}

entry:focus {
  border-color: @cyan;
}

entry image {
  margin-right: 10px;
}


/* Dropdowns */

combobox button.combo box {
  background-color: @background-dim;
  color: @foreground;
  box-shadow: none;
}


/* Checkboxes */

checkbutton check {
  background-color: @background-dim;
  background-image: none;
  border: none;
  border-radius: 0;
}

checkbutton check:checked {
  background-color: @cyan;
}


/* Buttons */

button.default,
button.text-button,
buttonbox button {
  background-color: shade(@background-bright, 1.3);
  background-image: none;
  border: 1px solid shade(@background-bright, 1.3);
  border-radius: 0;
  box-shadow: none;
  color: @foreground;
  margin-right: 2px;
  min-height: 0;
  min-width: 0;
  padding: 5px 0;
  text-shadow: none;
}

button.default:last-of-type,
button.text-button:last-of-type,
buttonbox button:last-of-type {
  magin-right: 0;
}

button:hover,
button.default:hover,
button.text-button:hover,
buttonbox button:hover {
  background-color: @selected_bg_color;
  border-color: @selected_bg_color;
  opacity: 0.5;
}

button:active,
button.default:active,
button.text-button:active,
buttonbox button:active {
  background-color: @background-dim;
  border-color: @background-dim;
  opacity: 0.2;
}

button:focus,
button.default:focus,
button.text-button:focus,
buttonbox button:focus {
  border-color: @cyan;
}


/* Tab header */

header.top {
  background-color: @background;
}

header.top tabs tab {
  color: @foreground;
  padding: 5px 10px;
}

header.top tabs tab:hover {
  background-color: @background-bright;
}

header.top tabs tab:checked {
  background-color: @background-bright;
}


/********************
 * THUNAR
 ********************/

/* Navigation bar */

/* Pathbar style */
window.thunar toolbar#location-toolbar widget.path-bar {
  border: 1px solid @background-bright;
}

.path-bar button {
  padding: 5px 10px;
}


/* Sidebar */

window.thunar scrolledwindow.sidebar treeview.view {
  background-color: @background;
}

window.thunar scrolledwindow.sidebar treeview.view:hover {
  background-color: shade(@background, 1.3);
}

window.thunar scrolledwindow.sidebar treeview.view:selected {
  background-color: @cyan;
}


/* File explorer pane */

window.thunar scrolledwindow.frame.standard-view .view {
  background-color: @background-dim;
}

window.thunar scrolledwindow.frame.standard-view .view:hover {
  background-color: shade(@background-dim, 1.3);
}

window.thunar scrolledwindow.frame.standard-view .view:selected {
  background-color: @cyan;
}

/* view as detailed list column headers */
window.thunar scrolledwindow.frame.standard-view treeview.view header button {
  background-color: @background-dim;
  border-right: 1px solid @background;
  border-bottom: 1px solid @background;
  color: @foreground;
  padding: 2px 10px;
}


/* Whisker menu categries and system control buttons */

#whiskermenu-window {
  background-color: @background-bright;
}

#whiskermenu-window button:hover {
  background-color: shade(@background-bright, 1.3);
}


/* Whisker menu categries */

#whiskermenu-window viewport.frame box.vertical button {
  padding: 2px 10px;
}

#whiskermenu-window viewport.frame box.vertical button image {
  -gtk-icon-transform: scale(0.6);
}


/* User and system controls */

#whiskermenu-window box.horizontal box.horizontal button {
  padding: 10px;
}


/* Application list */
#whiskermenu-window treeview {
  background-color: @background;
  padding: 2px 10px;
}

#whiskermenu-window treeview:hover {
  background-color: shade(@background, 1.3);
  color: @foreground-dim;
}